/***************   Заголовок -АВТОРИЗАЦИЯ-   ***************/
.label-header-form-add-worker {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}



/***************   Кнопка -ОСТАВИТЬ ЗАЯВКУ-   ***************/
.button-add-worker-form-add-worker {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 16px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 0;
    -fx-background-color: lightgreen;
}

/* При наведении */
.button-add-worker-form-add-worker:hover {
    -fx-background-color: green;
}

/* Стиль при клике */
.button-add-worker-form-add-worker:pressed {
    -fx-background-color: darkgreen;
    -fx-background-radius: 5px;
}



/***************   Кнопка -НАЗАД-   ***************/
.button-back-form-add-worker {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 20px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 20px;    /* Радиус углов для закругления */
    -fx-background-color: orange;
    -fx-background-insets: 10 10 10 10; /* Отступы */
}

/* При наведении */
.button-back-form-add-worker:hover {
    -fx-background-color: darkorange;
}

/* Стиль при клике */
.button-back-form-add-worker:pressed {
    -fx-background-color: #da7b02;
    -fx-background-radius: 5px;
}



/***************   Надписи перед заполнением   ***************/
.label-form-add-worker {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 24px;
    -fx-padding: 10px 20px 10px 20px; /* Отступы сверху, справа, снизу, слева */
}



/***************   Поля для заполнением   ***************/
.text-field-form-add-worker {
    -fx-prompt-text-fill: grey;
}


/***************   ComboBox (электрик, сантехник, газовщик и т.д.)   ***************/
.combobox-form-add-worker {

}