/***************   Заголовочные надписи   ***************/
.label-header-operator-main {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}



/***************   Текстовое поле информации   ***************/
.text-area-operator-main {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}



/***************   TabPane   ***************/
.tab-pane-operator-main {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    /* Задание ширины вкладки */
    -fx-tab-min-width: 150px;
    -fx-tab-max-width: 300px;
}



/***************   Кнопка -СОБРАТЬ БРИГАДУ-   ***************/
.button-complete-brigade {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 30px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 10 10 10 10;
    -fx-background-color: lightgreen;
}

/* При наведении */
.button-complete-brigade:hover {
    -fx-background-color: green;
}

/* Стиль при клике */
.button-complete-brigade:pressed {
    -fx-background-color: darkgreen;
    -fx-background-radius: 5px;
}



/***************   Кнопка -УДАЛИТЬ ЗАЯВКУ-   ***************/
.button-delete-form {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 16px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 10 10 10 10;
    -fx-background-color: #ff4747;
}

/* При наведении */
.button-delete-form:hover {
    -fx-background-color: red;
}

/* Стиль при клике */
.button-delete-form:pressed {
    -fx-background-color: darkred;
    -fx-background-radius: 5px;
}



/***************   Кнопка -НАЗАД-   ***************/
.button-back-operator-main {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 28px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 20px;    /* Радиус углов для закругления */
    -fx-background-color: orange;
    -fx-background-insets: 5 10 5 10; /* Отступы */
}

/* При наведении */
.button-back-operator-main:hover {
    -fx-background-color: darkorange;
}

/* Стиль при клике */
.button-back-operator-main:pressed {
    -fx-background-color: #da7b02;
    -fx-background-radius: 5px;
}



/***************   Кнопка -УДАЛИТЬ РАБОТНИКА-   ***************/
.button-delete-worker {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 16px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 10 10 10 10;
    -fx-background-color: #ff4747;
}

/* При наведении */
.button-delete-worker:hover {
    -fx-background-color: red;
}

/* Стиль при клике */
.button-delete-worker:pressed {
    -fx-background-color: darkred;
    -fx-background-radius: 5px;
}




/***************   Кнопка -РЕДАКТИРОВАТЬ РАБОТНИКА-   ***************/
.button-edit-worker {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 28px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-color: orange;
    -fx-background-insets: 10 10 10 10; /* Отступы */
}

/* При наведении */
.button-edit-worker:hover {
    -fx-background-color: darkorange;
}

/* Стиль при клике */
.button-edit-worker:pressed {
    -fx-background-color: #da7b02;
    -fx-background-radius: 5px;
}



/***************   Кнопка -ДОБАВИТЬ РАБОТНИКА-   ***************/
.button-add-worker {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 20px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 10 10 10 10;
    -fx-background-color: lightgreen;
}

/* При наведении */
.button-add-worker:hover {
    -fx-background-color: green;
}

/* Стиль при клике */
.button-add-worker:pressed {
    -fx-background-color: darkgreen;
    -fx-background-radius: 5px;
}