/***************   Заголовок -АВТОРИЗАЦИЯ-   ***************/
.label-password-operator-header {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}



/***************   Кнопка -ВОЙТИ КАК ДИСПЕТЧЕР-   ***************/
.button-password-operator {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 16px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 10px;    /* Радиус углов для закругления */
    -fx-background-insets: 0;
    -fx-background-color: #38bde8;
}

/* При наведении */
.button-password-operator:hover {
    -fx-background-color: #5757f8;
}

/* Стиль при клике */
.button-password-operator:pressed {
    -fx-background-color: #3e3edc;
    -fx-background-radius: 5px;
}



/***************   Кнопка -НАЗАД-   ***************/
.button-back-password-operator {
    -fx-text-fill: white;   /* Цвет текста*/
    -fx-font-size: 20px;    /* Размер шрифта */
    -fx-font-weight: bold;  /* Жирность текста */
    -fx-background-radius: 20px;    /* Радиус углов для закругления */
    -fx-background-color: orange;
    -fx-background-insets: 10 10 10 10; /* Отступы */
}

/* При наведении */
.button-back-password-operator:hover {
    -fx-background-color: darkorange;
}

/* Стиль при клике */
.button-back-password-operator:pressed {
    -fx-background-color: #da7b02;
    -fx-background-radius: 5px;
}


